<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.beyondhorizon.mapper.UserMapper">
    <select id="getUserByUserId" resultType="top.beyondhorizon.entity.User">
        select id,
        username,
        password,
        permission,
        tel,
        email,
        head_portrait,
        salt,
        deleted,
        reg_time,
        last_login
        from my_blog.blog_user
        where blog_user.id = #{authorId}
    </select>
</mapper>